@import url("https://gilbn.github.io/theme.park/CSS/addons/unraid/login-page/alien/alien_base.css");
:root {
    --main-bg: radial-gradient(ellipse at center,rgba(0, 255, 119, 0.1) 0,rgba(0,255,119,0) 100%) center center/cover no-repeat fixed, 
    url(https://github.com/marcosnajera/theme.park/raw/master/CSS/addons/unraid/login-page/alien/wallpaper/Halo3.jpg) center center/cover no-repeat fixed;
    --logo: url(https://github.com/marcosnajera/theme.park/raw/master/CSS/addons/unraid/login-page/alien/logo/wings_blue.png) center no-repeat;
    --text-color: #053d6d;
    --input-color: #ffffff;
    --link-color: #ffffff;
    --link-color-hover: #ffffff;
    --case-color: #053d6d;
    --button-text-color: #ffffff;
    --button-text-color-hover: #fff;
    --button-color: #ffffff;
    --button-color2: #ffffff;
    --button-color-hover: #053d6d;
    --button-color2-hover: #053d6d;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: rgb(0 0 0 / 3%);
    --text-shadow: 0 0 px;
    --box-shadow: 0 0 0px;
}
